* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
header img {
  width: 230px;
  position: relative;
  top: 25px;
  left: 30px;
}
section img {
  width: 446px;
  position: absolute;
}
section {
  height: 245px;
}
h2 {
  color: #FFCA28;
  font-size: 20px;
}
form {
  display: inline-block;
  height: 55px;
  background-color: #2B374A;
  margin-bottom: 20px;
  padding: 0px 13px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px 0 0 5px;
  margin-right: 0;
}
input {
  height: 29px;
  width: 230px;
  display: inline-block;
  align-items: center;
  margin: 13px 5px;
}
header p {
  display: inline-block;
  height: 55px;
  color: white;
  font-size: 13px;
  background-color: #2B374A;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 5px 5px 0;
  padding: 20px 15px;
  position: relative;
  right: 5px;
}
nav {
  height: 40px;
  background-color: #3576AF;
  padding-top: 10px;
  text-align: center;
  margin: 0 36px;
  border-radius: 7px;
}
nav a {
  color: white;
  text-decoration: none;
  border-right: 1px outset #BCBDBD;
  padding: 10px 10px 12px 20px;
  font-size: 13px;
}
.about {
  background-color: #154c79;
}
.container {
  width: 970px;
  margin: 0 auto;
  background-color: #154c79;
}
.header {
  margin-bottom: 20px;
  padding: 0 15px;
}
.content {
  display: inline-block;
  margin: 30px 20px 0 11%;
  line-height: 1.3;
  vertical-align: top;
}
.content p {
  display: inline-block;
  width: 300px;
  color: white;
  font-size: 12px;
  margin-top: 20px;
}
.pythonNews {
  width: 100%;
  background-color: white;
  padding: 0 0 40px 25px;
}
.latestNews {
  display: inline-block;
  width: 46%;
  vertical-align: top;
}
.latestNews span,
.pythonOffers span {
  width: 95%;
  display: inline-block;
  border-top: 1px solid lightgray;
}
.latestNews a {
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
  color: #3576AF;
}
.latestNews h3,
.pythonOffers h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  color: #424242;
  margin: 15px 268px 0 10px;
}
.latestNews p,
.pythonOffers p {
  display: inline-block;
  font-size: 10px;
  color: #424242;
  margin: 0 20px 0 10px;
}
.pythonOffers {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin-left: 2%;
}
.pythonOffers h6 {
  display: inline-block;
  font-size: 10px;
}
.pythonOffers a {
  display: inline-block;
  font-size: 10px;
  color: #424242;
  text-decoration: none;
  border-bottom: 1px dotted #424242;
  /* margin: 0 20px 0 10px; */
  background-color: #EEEEEE;
}
.information {
  font-size: 12px;
  color: #42A5F5;
  margin: 1.5% 20%;
}
.information p {
  display: inline-block;
  margin-left: 30px;
}
.information span {
  font-size: 9px;
}
.policy {
  font-size: 12px;
  color: #42A5F5;
  margin: 0 25%;
  padding-bottom: 30px;
}
.policy p {
  font-size: 9px;
  display: inline-block;
}
.policy a {
  color: #42A5F5;
  font-size: 9px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #42A5F5;
}
.articleLine {
  width: 100%;
  padding-top: 10px;
  border-bottom: 3px solid #42A5F5;
}
.moreOption {
  display: inline-block;
  font-size: 10px;
  color: gray;
}
#donateButton {
  width: 60px;
  text-decoration: none;
  display: inline-block;
  background-color: #FFEE58;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  margin-left: 25%;
  color: black;
  padding: 5px;
  margin-right: 5px;
}
#goButton {
  background-color: #386A9D;
  color: white;
  padding: 6px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
}
